* {
    font-family: "Open Sans", sans-serif;
    font-size: 0.95rem;
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(33, 32, 43);
}

#header {
    padding: 1rem 2rem;
    color: #fff;
    background-color: rgb(24, 22, 22);
    font-size: 1.25rem;
}

#category__section {
    padding: 1rem 0;
}

.category {
    padding: 0.45rem;
    width: fit-content;
    color: #fff;
    background-color: rgb(43, 42, 56);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.category:hover {
    background-color: rgb(74, 73, 94);
}

.active { 
    color: #000 !important;
    background-color: #fff !important;
}

#Categories {
    display: flex;
    flex-wrap: wrap;
}

#Categories>div {
    margin: 0.5rem 0.75rem;
}

#section__title {
    margin: 1rem 0 0.5rem 1rem;
    color: #fff !important;
    font-size: 1.25rem;
}

.container {
    display: flex;
}

.searchBtn__container {
    text-align: center;
}

#searchBtn {
    margin-top: 2rem;
    padding: 0.5rem 0.75rem;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#searchBtn:hover {
    border: 1px solid #fff;
}

#vacancy__section {
    width: 80%;
    padding: 2rem;
}

.vacancy {
    margin-top: 1rem;
}

.vacancy__title {
    width: 70%;
    margin: 0.5rem 0;
    display: block;
    color: rgb(72, 72, 158);
    font-size: 1.5rem;
    font-weight: 700;
}

.vacancy__short__desc-info {
    font-weight: 500;
}

.vacancy__desc {
    margin: 0.5rem 0;
    width: 70%;
}

@media (max-width: 64rem) {
    .container {
        padding: 0.5rem;
        flex-direction: column;
        justify-content: center;
    }
    
    .selectors__section {
        order: -1;
    }

    #vacancy__section {
        width: 100%;
        padding: 1rem;
    }

    .vacancy__desc {
        max-width: 90%;
    }

    #Categories>div {
        margin: 0.25rem 0.5rem;
    }
}