* {
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(33, 32, 43);
}

#header {
    padding: 1rem 2rem;
    color: #fff;
    background-color: rgb(24, 22, 22);
    font-size: 1.25rem;
}

#category__section {
    padding: 1rem 0;
}

.category {
    padding: 0.45rem;
    width: fit-content;
    color: #fff;
    background-color: rgb(43, 42, 56);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.category:hover {
    background-color: rgb(74, 73, 94);
}

.active { 
    color: #000 !important;
    background-color: #fff !important;
}

#Categories {
    display: flex;
    flex-wrap: wrap;
}

#Categories>div {
    margin: 0.5rem 0.75rem;
}

#section__title {
    margin: 1rem 0 0.5rem 1rem;
    color: #fff !important;
    font-size: 1.25rem;
}

.container {
    display: flex;
}

#vacancy__section {
    width: 70%;
    padding: 2rem 8rem;
}

.vacancy__title {
    margin: 0.5rem 0;
    display: block;
    color: rgb(72, 72, 158);
    font-size: 1.5rem;
    font-weight: 700;
}

.vacancy__short__desc {
    font-weight: 500;
}

.vacancy__desc {
    margin: 0.5rem 0;
}

@media (max-width: 45rem) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    
    #vacancy__section {
        padding: 1rem;

    }

    #Categories>div {
        margin: 0.25rem 0.5rem;
    }
}